@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestIT</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 custom-background"> -->
        <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 custom-background">
            <div class="container">
                <!-- Dodat logo koji vraca na Home page umesto imena aplikacije -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/logo.png" width="30px" height="30px"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=" navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!-- <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Home</a> -->
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" style="color:white; font-weight:bold">Početna</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Courses" style="color:white; font-weight:bold">Predmeti</a>
                        </li>


                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (!User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Competitions" asp-action="IndexProf" style="color:white; font-weight:bold">Kreiraj Turnir</a>
                                </li>

                            }


                            if (User.IsInRole("Admin"))
                            {

                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Courses" asp-action="Index" style="color:white; font-weight:bold">Administracija</a>
                                </li>
                                @*<li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="AdminUser" style="color:white; font-weight:bold">Admin User</a>
                </li>*@
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Competitions" asp-action="IndexUser" style="color:white; font-weight:bold">Turniri</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Competitions" asp-action="VSIndex" style="color:white; font-weight:bold">Izazovi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Users" style="color:white; font-weight:bold">Korisnici</a>
                            </li>
                            /*<li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="roleTestRun" style="color:white; font-weight:bold">Postani admin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="roleProf" style="color:white; font-weight:bold">Postani profesor na UUR</a>
                            </li>*/
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- <footer class="border-top footer text-dark"> -->
    <footer class="footer text-dark">
        <div class="container">
            &copy; 2019 - TestIT - <a asp-area="" class="text-dark" asp-controller="Home" asp-action="Privacy">Privatnost</a> - <a asp-area="" class="text-dark" asp-controller="Home" asp-action="AboutUs">O nama</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
