@{
    ViewData["Title"] = "Predmet";
}

<link rel="stylesheet" type="text/css" href="~/css/ConcreteSubject.css"/>

<p>Naziv predmeta</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p>Profesori:</p>
<div>
    <p>Prvi</p>
    <p>Drugi</p>
    <p>Treci</p>
</div>

<p>Ovaj css je samo da testiram da li je ok da stoje tako na po pola strane kvizevi i komentari mada mi se ne svidja nesto</p>
<div class="comments-quizzes">
    <div class="subject-comments">
        <p>Komentar 1</p>
        <p>Komentar 2</p>
        <p>Komentar3</p>
    </div>
    <div class="subject-quizzes">
        <p>Kviz 1</p>
        <p>Kviz 2</p>
        <p>Kviz 3</p>
    </div>
</div>