@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@model TestIT.Models.ViewModels.CoursesViewModel

@{
    ViewData["Title"] = "Predmeti";
}
<script src="~/js/Subjects.js" type="module"></script>
<link rel="stylesheet" type="text/css" href="~/css/Subjects.css">

<body onload="unhide()">
    <div class="modules">
        @{
            if ((await UserManager.GetUserAsync(User)).Modul == null)
            {
                foreach (var module in Model.getModules())
                {
                    <a class="btn btn-primary" asp-route-module="@module" asp-controller="Home" asp-action="Enroll" style="color:white; font-weight:bold">@module</a>
                }
            }
        }
    </div>

    <div>
        @{
            int i = 0;
            foreach (var god in Model.getYears())
            {

                <label class="year-label" onclick="HideSubjects(@i);">@god &#9660; </label>
                <div hidden="hidden" class="year">
                    @{
                        foreach (var el in Model.getCourses())
                        {
                            if (el.SchoolYear == god)
                            {
                                <div>
                                    <a href='/Home/Course/@el.ID' class="subject-button" style="color:#5190b6">@el.Name</a>
                                </div>
                            }
                        }
                        i++;
                    }
                </div>
            }
        }
    </div>
</body>