@{
    ViewData["Title"] = "Predmet";
}

<link rel="stylesheet" type="text/css" href="~/css/ConcreteSubject.css"/>

<p>Strukture podataka</p>
<p> Osnovni tipovi podataka. Jednostavne i složene strukture podataka. Statičke i dinamičke strukture podataka.
    Liste: jednostruko povezane, dvostruko povezane, ciklične. Redovi, magacini, tablice, skupovi. 
    Stabla: binarna, uravnotežena, ulančana,  stabla traženja, gomila. Složenost i ocena složenosti algoritama. 
    Datoteke: sekvencijalne, direktne, indeks-sekvencijalne, indeks-nesekvencijalne, datoteke sa više ključeva. Rasuto adresiranje. Sortiranje. 
    Praktični rad: realizacija karakterističnih struktura i algoritama u programskom jeziku C++.</p>
<div class="profesori-asistenti-container">
    <div class="left-container">
        <table class="table custom-table profesori-asistenti">
                <thead>
                    <tr>
                        <p style="text-align: center">Profesori</p>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Leonid Stoimenov</td>
                    </tr>
                </tbody>
        </table>
    </div>
    <div class="right-container">
        <table class="table custom-table profesori-asistenti">
                <thead>
                    <tr>
                        <p style="text-align: center">Asistenti</p>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Nikola Davidovic</td>
                    </tr>
                    <tr>
                        <td>Aleksandar Dimitrijevic</td>
                    </tr>
                    <tr>
                        <td>Vladan Mihajlovic</td>
                    </tr>
                </tbody>
        </table>
    </div>
</div>
<hr/>
<div class="comments-quizzes">
    <div class="subject-quizzes">
        <table class="table custom-table">
            <thead>
                <tr>
                    <p style="text-align: center">Kvizovi</p>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Binarna stabla</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>Redovi</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>Sortiranje</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>Staticke strukture podataka</td
                    ><td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="subject-comments">
        <table class="table custom-table">
            <thead>
                <tr>
                    <p style="text-align: center">Komentari</p>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Odlican predmet</td>
                    <td>Korisnik1</td>
                </tr>
                <tr>
                    <td>Vrlo obimano ali dobro odrajeno gradivo</td>
                    <td>Korisnik2</td>
                </tr>
                <tr>
                    <td>Treci komentar, ne znam sta da napisem</td>
                    <td>Korisnik3</td>
                </tr>
                <tr>
                    <td>I dalje mi nije jasna Hash tablica</td>
                    <td>Korisnik4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

