@model TestIT.Models.Course
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Predmet";
}

<link rel="stylesheet" type="text/css" href="~/css/ConcreteSubject.css" />

<p>@Model.Name</p>
<p>@Model.Description</p>
<div class="profesori-asistenti-container">
    <div class="left-container">
        <table class="table custom-table profesori-asistenti">
            <thead>
                <tr>
                    <p style="text-align: center">Profesori</p>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var p in Model.Users)
                    {
                        var t = await UserManager.GetRolesAsync(p.User);
                        if (t.Contains("Profesor"))
                        {
                            <tr>
                                <td>@p.User.Name @p.User.Surname</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</div>
</div>
<hr />
<div class="comments-quizzes">
    <div class="subject-quizzes">
        <table class="table custom-table">
            <thead>
                <tr>
                    <p style="text-align: center">Kvizovi</p>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Binarna stabla</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>Redovi</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>Sortiranje</td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
                <tr>
                    <td>
                        Staticke strukture podataka
                    </td>
                    <td> <a href="https://www.google.com" class="table-button">Pokusaj</a> <a href="https://www.google.com" class="table-button-danger text-danger">Prijavi</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="subject-comments">
        <table class="table custom-table">
            <thead>
                <tr>
                    <p style="text-align: center">Komentari</p>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Odlican predmet</td>
                    <td>Korisnik1</td>
                </tr>
                <tr>
                    <td>Vrlo obimano ali dobro odrajeno gradivo</td>
                    <td>Korisnik2</td>
                </tr>
                <tr>
                    <td>Treci komentar, ne znam sta da napisem</td>
                    <td>Korisnik3</td>
                </tr>
                <tr>
                    <td>I dalje mi nije jasna Hash tablica</td>
                    <td>Korisnik4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

