@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dobrodošli na TestIT";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Dobrodošli na TestIT</h1>
    <br/>
    <img src="~/logo.png"/>

    @if(!SignInManager.IsSignedIn(User))
    {
        <div class="custom-button-container">
            <a class="custom-button custom-btn" asp-area="Identity" asp-page="/Account/Register" style="color:white">Registracija</a>
            <a class="custom-button custom-btn" asp-area="Identity" asp-page="/Account/Login" style="color:white">Prijavljivanje</a>
        </div>
    }
    <div>
        <p style="color: #5190b6">
            TestIT aplikacija je kreirana kako bi omogucila korisnicima da testiraju sopstveno znanje iz raznih oblasti i predmeta na Elektronskom fakultetu u Nisu. 
            Korisnici mogu da kreiraju sopstvene kvizove, izborom opcije <i>Moji kvizovi</i> i nakon toga izborom opcije <i>Napravi novi kviz</i>. Nakon kreiranja korisnik ima mogucnost izrade, izmene, brisanja i objavljivanja kviza.
            Pregled predmeta moze se obaviti na stranici <i>Predmeti</i> gde se prikazuje lista predmeta za izabrani modul.
            Na stranici izabranog predmeta moze se videti opis predmeta, lista profesora, lista javnih kvizova kao i lista komentara koje su ostavili korisnici.
        </p>
    </div>
</div>
