@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dobrodošli na TestIT";
}

<div class="text-center">
    <br/>
    <h1 class="display-4">Dobrodošli na TestIT</h1>
    <br/>
    <img src="~/logo.png"/>


    @if (SignInManager.IsSignedIn(User))
    {
        <div>
            <input type='button' style="color:white" value='Odradi kviz' class="custom-button custom-btn" onclick='window.location = "@Url.Action("ChooseQuiz", "Quizzes")";' />
        </div>
    }
    else
    {
        <div class="custom-button-container">
            <a class="custom-button custom-btn" asp-area="Identity" asp-page="/Account/Register" style="color:white">Registracija</a>
            <a class="custom-button custom-btn" asp-area="Identity" asp-page="/Account/Login" style="color:white">Prijavljivanje</a>
        </div>
    }
    
</div>
