@{
    ViewData["Title"] = "Welcome to TestIT";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TestIT</h1>
    <p>Coming soon™.</p>
    <img src="~/logo.png"/>
    <div>
        <input type='button' value='Odradi kviz' class="btn btn-primary" onclick='window.location = "@Url.Action("ChooseQuiz", "Quizzes")";' />
    </div>
</div>
