@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Here at TestIT we take personal privacy very seriously.
    As a general rule TestIT does not collect your personal information unless you chose to provide that information to us.
    When you choose to provide us with your personal information, you are giving TestIT your permission to use that information
    for the stated purposes listed in this privacy policy. If you choose not to provide us with that information,
    it might limit the features and services that you can use on this website.
    <br />
    Generally, the information requested by TestIT will be used to provide a website feature or service to you,
    such as commenting and support. A description of TestIT’s intended use of that information,
    how that information is collected, security measures TestIT takes to protect that information,
    and how to grant or revoke consent for collection and use of that information will be fully described later on in the ‘Privacy’ section of the website.
</p>
