@{
    ViewData["Title"] = "Polisa privatnosti";
}
<h1>@ViewData["Title"]</h1>

<p>
    TestIT aplikacija shvata vašu privatnost veoma ozbiljno.
    TestIT aplikacija ne prikuplja vaše privatne informacije osim ako vi ne odlučite da nam date te informacije.
    Kada izaberete da nam prosledite vaše lične informacije, dajete nam dozvolu da ih koristimo za potrebe navedene u ovoj politici privatnosti.
    Ako izaberete da nam ne prosledite informacije, moguće je da će neke funkcionalnosti sajta biti ograničene.
    <br />
    Tražene informacije biće korišćene za omogućavanje funkcionalnosti kao što su komentarisanje i tehnička podrška.
    Način na koji će biti korišćenje informacije, kao i koje su informacije tražene od Vas biće opisani kasnije u odeljku "Politike Privatnosti" ove aplikacije.
</p>


