@model TestIT.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "1 na 1";
}

<script src="~/js/Users.js" type="module"></script>

<h3>Izazivate korisnika: @Model.UserName</h3>
<hr />
<div class="container">
    <div class="left-container">
                @{
                    var zajednicki = ViewBag.Message as List<TestIT.Models.Course>;
                    foreach(var p in zajednicki)
                    {
                        <table class="table custom-table common-courses">
                            <thead>
                                <th>@p.Name</th>
                            </thead>
                            <tbody>
                                @foreach(var q in p.Quizzes)
                                {
                                    @if(q.Visibility == quizVisibility.Javni)
                                    {
                                        <tr>
                                            <td>
                                                <a class="table-button text-danger" href="/Quizzes/AttemptQuiz2/@q.ID">@q.Name</a>
                                            </td>
                                        </tr>
                                    }
                                    
                                }
                            </tbody>
                        </table>
                    }
                }
    </div>
    <div class="right-container">

    </div>
    
</div>
<div>
    <a href="/Home/Users" class="btn btn-danger" >Povratak nazad</a>
</div>