@{
    ViewData["Title"] = "O nama";
}

<h1>Lambda tim</h1>
<hr/>
<div>
    <p>
        Lambda tim je oformljen Februara 2019. godine sa ciljem izrade projekta za predmet Softversko inzenjerstvo.
    </p>
    <table class="table custom-table">
        <thead>
            <th>Tim cine</th>
        </thead>
        <tbody>
            <tr>
                <td>
                    Mihajlo Veljkovic
                </td>
            </tr>
            <tr>
                <td>
                    Stefan Bogosavljevic
                </td>
            </tr>
            <tr>
                <td>
                    Ilija Milosevic
                </td>
            </tr>
            <tr>
                <td>
                    Mladen Stankovic
                </td>
            </tr>
        </tbody>
    <table>
</div>