
@{
    ViewData["Title"] = "AdminUser";
}
<link rel="stylesheet" type="text/css" href="~/css/AdminUser.css" />
<h1>Administracija korisnika</h1>
<div class="outerDiv">
    <div class="infoDiv">
        <label>Korisniko ime:</label>
        <label class="infoLabel">Pera</label>
        <label>E-mail:</label>
        <label class="infoLabel">pera.96@gmail.com</label>
    </div>
    <div class="controlDiv">
        <a href="/Home/Users" class="btn btn-warning">Opomeni</a>
        <a class="btn btn-danger" style="color:white">Banuj</a>
    </div>

</div>
