.comments-quizzes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

@media(max-width:768px) {
    .comments-quizzes {
        flex-wrap: wrap;
    }
}

.subject-comments{
    margin-left:5px;
    width: 100%;
}

.subject-quizzes{
    margin-right:5px;
    width:100%;
}

.left-container{
    margin-right: 5px;
}

.right-container{
    margin-left: 5px;
}

.profesori-asistenti-container{
    display:flex;
}