.question {
    background-color: whitesmoke;
    /* border: solid 1px whitesmoke; */
    border-radius: 5px;
}

.QuizCreation{
    display:flex;
    flex-wrap: wrap;
}

.LeftSide{
    flex: 1 1 33.3%;
    display:flex;
    flex-direction: column;
    padding-right: 2.5%;
}

.RightSide{
    padding-left: 2.5%;
    flex: 1 1 66.6%;
}

.existing-questions-button{
    margin-bottom: 5px;
}

.add-question-container{
    display: block;
}

.add-question-button{
    float:right;
    margin-bottom: 2%;
}

.addedThings{
    display: flex;
    flex-wrap: wrap;
}

.ExistingQuestions{
    padding-right: 2.5%;
    flex: 1 1 33.3%;
}

.AnswersDiv{
    padding-left: 2.5%;
    flex: 1 1 66.6%;
}

.addAnswerButton{
    float:right;
}

.answer-text-area{
    resize: height;
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 250px;
}
body h1 {
    color: #0d004f;
}