.question {
    border: solid 1px dimgrey;
}

.QuizCreation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.QuizCreationInner {
    flex: 1 1 255px;
}

.QuizCreationExistingQuestions {
    flex: 1 1 255px;
}

.QuizCreationExistingQuestions {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
}

.existingQuestionsButton {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 0px;
}

.createQuestionButton {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .existingQuestionsButton {
        margin-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10px;
    }
}
