a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  /* border-top: 1px solid #e5e5e5; */
}
.border-bottom {
  /* border-bottom: 1px solid #e5e5e5; */
}

.box-shadow {
  /* box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); */
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: Helvetica;
}

body{
  background-color: white
}

.custom-button-container{
  display:flex;
  justify-content:center;
}

a {color:white;}         /* Unvisited link  */
a:visited {color:white;} /* Visited link    */
a:hover {color:white;}   /* Mouse over link */
a:active {color:white;}

a:hover{
  text-decoration: none;
}


.table-button:visited {
    color: #5190b6;
}
.table-button:hover {
    color: #5190b6;
}
.table-button:active {
    color: #5190b6;
}

.table-button {
    font-weight:bold;
    /*background-color: #5190b6;*/
    border-radius: 7px;
    text-decoration: none;
    border: none;
    color: #5190b6;
}

.table-button-danger {
    font-weight:bold;
    border-radius: 7px;
    border: none;
}

.custom-button {
    border-radius: 7px;
    background-color: #5190b6;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
}

.custom-btn {
    margin: 15px 32px;
    font-size: 35px;
    width: 30%;
    line-height: 150px;
    height: 150px;
}

@media(max-width:768px){ 
  .custom-btn{
    font-size: 15px;
    line-height: 50px;
    height: 50px;
  }
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: white;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

img{
  max-width:100%;
}

.custom-background{
  background-color: #5190b6;
}

.custom-table tr{
    text-align:center;
    vertical-align:central;
}

.custom-table td {
    vertical-align: middle;
}

.custom-table th {
 
    background-color: whitesmoke;
}

@media(max-width:768px) {
    .remove {
        color:white;
    }
}