@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Lični podaci";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            Vaš nalog ima podatke koje ste nam dali pri registraciji. Ova stranica vam omogućava da te podatke skinete i/ili izbrišete.
        </p>
        <p>
            <strong>Brisanjem ovih podataka će se izbrisati i vaš nalog nepovratno.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Sačuvaj lične podatke</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Obriši nalog</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}