@page
@model LockoutModel
@{
    ViewData["Title"] = "Zaključan";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Zbog velikog broja pogrešnih pokušaja ovaj nalog je zaključan. Pokušajte ponovo kasnije.</p>
</header>
