
@{
    ViewData["Title"] = "AttemptQuiz";
}


<script src="~/js/AttemptQuiz.js" type="module"></script>
<link rel="stylesheet" type="text/css" href="~/css/AttemptQuiz.css">
<body onload="jsonToQzit(@ViewBag.jsonQuiz);">
    <h1>AttemptQuiz</h1>
    <div class="display-1">
       
    </div>

</body>
