@model TestIT.Models.ViewModels.CreateQuizViewModel

@{
    ViewData["Title"] = "Create a quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" type="text/css" href="~/css/questions.css">

<div class="QuizCreation">

    <div class="LeftSide">
        <div class="QuizCreationForm">
            <form asp-action="Create">
                <div class="form-group">
                    <input type='button' value='Povratak nazad' class="btn btn-primary" onclick='window.location = "@Url.Action("Index", "Quizzes")";' />
                    <input type="submit" name="command" value="Napravi" class="btn btn-primary" />
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <br />
                    <div class="quiz-creation">
                        <label> Ime kviza: </label>
                        <br />
                        <textarea asp-for="Quiz.Name" class="form-control" style="resize: both"></textarea>
                        <span asp-validation-for="Quiz.Name" class="text-danger"></span>
                        <div class="form-group">
                            <label asp-for="Quiz.numberOfQustionsPerTry" class="control-label"></label>
                            <input asp-for="Quiz.numberOfQustionsPerTry" class="form-control" />
                            <span asp-validation-for="Quiz.numberOfQustionsPerTry" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quiz.time" class="control-label"></label>
                            <input asp-for="Quiz.time" class="form-control" />
                            <span asp-validation-for="Quiz.time" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
            <div id="dataStorage" hidden="hidden">@*ovaj deo je za prenos liste iz view u controller*@
                <div>
                    @{
                        if (Model != null)
                        {
                            for (int i = 0; i < Model.Quiz.Questions.Count; i++)
                            {
                                <input asp-for="Quiz.Questions[i].QuestionText" class="form-control" />
                            }
                        }
                    }
                </div>
            </div>
    </div>

    <div class="RightSide">
        <form asp-action="Create">
            <div class="QuestionCreation">
                <input type="button" name="command" value="Dodaj pitanje" class="btn btn-primary addQuestionButton" onclick="addQuestion();"/>
                <div class="new-question-form">
                    <label>Question text: </label>
                    <br />
                    <textarea asp-for="TempQuestion.QuestionText" class="form-control" style="resize: both"></textarea>
                    <span asp-validation-for="TempQuestion.QuestionText" class="text-danger"></span>
                    <label>Answer: </label>
                    <div id="answer-options">
                        <label>Pick answer type: </label>
                        <br />
                        <input type="radio" onchange="createAnswerTextArea();" value="Text" name="AnswerType" /> Text
                        <br />
                        <input type="radio" onchange="createAnswerSelectionArea();" value="Select" name="AnswerType" /> Select
                        <br />
                        <input type="radio" onchange="createAnswerImageArea();" value="Image" name="AnswerType" /> Image
                        <br />
                    </div>
                </div>
            </div>  
        </form> 
    </div>
</div>

<div class="addedThings">
    <div class="ExistingQuestions">
        <input type='button' value='Prikazi postojeca pitanja' class="btn btn-primary existingQuestionsButton" onclick="showQuestions();" />
        <div id="questions" hidden="hidden">
        
        </div>
    </div>
    <div class="AnswersDiv" hidden="hidden">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
